@import url('https://fonts.googleapis.com/css?family=Lilita+One|Raleway|Dancing+Script|NTR');


* {
    /* border: 1px solid red !important; */
  }
  
/* ---------- Variables */
:root {

    /* Colors */
    --main-text-color: #61425c; 
    --strong-text-color: #897f75;
    /* --strong-text-color: #28313b;*/
    --site-title-text-color: #461220;
    --site-title-decoration-color: #61425c;
    /* --link-color: #cc0099; */
    --link-color: #b47655;
    --border-color: #97a4b1;
    /* --alternative-bg-color:  #d7d4d8; */
    --alternative-bg-color:  #e6dfe3     ;

    --alternative-text-color:  #b47655; 
  
    /* measurements from style guide & wireframes */
    --padder: 3%;
    --spacer: 14px;
    --spacer-large: 80px;
    --transition-time: 0.5s;
  
    --font-size-site-title: 48px;
    --font-size-page-title: 30px;
    --font-size-section-title: 28px; 
    --font-size-sub-title: 33px;
    --font-size-sub-sub-title: 14px;
    --font-size-heading-small: 16px;
    --font-size-design-notice: 12px;
    --font-size-fancy-text: 22px;
    --font-size-fancylarge-text: 36px;

   
    --site-width: 1200px;
    --desktop-screen-size: 800px;

    --font-heading: 'Great Vibes', 'Dancing Script';
    --font-sub-heading:  'Lato', sans-serif; 
    --font-sub-subheading:  'Rosarivo', sans-serif; 
    --font-default: 'Raleway', sans-serif;
    
  }

   @media screen and ( min-width: 800px ){ 
   /* @media screen and ( min-width: var(--desktop-screen-size)){ */

    :root{
        --font-size-site-title: 54px;
        --font-size-page-title: 80px;
        --font-size-section-title: 48px; 
        --padder: 2%;
    }

}

/* ---------- Global Defaults */
*{
    /*
    box-sizing: border-box;
    */
    /* border: 1px solid red !important; */

}

.ParallaxVideo{ 
    height: 200px;
    }

.ParallaxVideo video{ 
    min-width: 100%;
    position: fixed;
    top:0;
    z-index: -999;
    min-height: 200px;
    background: transparent;
    }

body{
    font-family: var( --font-default );
    font-size: 18px;
    line-height: 1.8;
    color: var( --main-text-color );
    background-color: var( --alternative-bg-color );
}

.background{
    background-color: var( --alternative-bg-color );
    z-index: -999;
    background: transparent;
}

.test{
    background-color: var( --alternative-bg-color );
    z-index: 99;
}

img{
    max-width: 100%;
    /* Height: auto; */
    object-fit: cover;
}

p{
    background-color: var( --alternative-bg-color );
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    margin-left:1%;
    margin-right:1%;
}

.content-area-grid{
    background-color: var( --alternative-bg-color );
}

.content-block{
    background-color: var( --alternative-bg-color );
}
/* video {
    margin:0 auto;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    transition: 1s opacity;
} */

/* iframe{
    max-width: 100%;
}

.iframe-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 35px;
  }

  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
  } */

/* ---------- Headings and Type */
h1,h2,h3,h4 {
    font-family: var( --font-subheading );
    /* color:  var( --strong-text-color ); */
    color:  var( --alternative-bg-color );

    font-weight: normal;
}

h1{
    /*font-size: var( --font-size-page-title );*/
    font-size: var( --font-size-section-title );
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2{
    font-size: var( --font-size-section-title );
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h3{
    font-size: var( --font-size-sub-title );
}

h4{
    font-size: var( --font-size-headin-small );
}

a{
    color: var( --link-color );
}

.fancy{
    font-family: var( --font-heading );
    font-size: var(--font-size-fancy-text);
    color: var(--site-title-text-color);
}
.fancylarge{
    font-family: var( --font-heading );
    font-size: var(--font-size-fancylarge-text);
    color: var(--site-title-text-color);
}

/* ---------- Layouts */
.layout-wide{
    max-width: var( --site-width );
    max-width: auto;
    /* margin-bottom: var( --spacer-large );
    padding-bottom: var( --padder );
    padding-right: var( --padder );
    margin-left: auto;
    margin-right: auto; */
    background-color: var( --alternative-bg-color );
    text-align: center;
    width: 100%;
    min-width: 100%;
    border: 1px solid var( --alternative-bg-color );
}

/* .layout-full-width{
    width: 100%;
    margin-bottom: var( --spacer-large );   
} */

/* ---------- Header */
header{
    background-color: var( --alternative-bg-color );
    padding-top: var( --spacer );
}

header .layout-wide{
    margin-bottom: 0;
}

.site-title{
    color: var( --site-title-text-color );
    text-align: center;
    font-size: var( --font-size-site-title );
    font-family: var( --font-heading );
    text-decoration: underline;
    text-decoration-color: var( --site-title-decoration-color );
    /* padding-bottom: 0%;
    padding-top: 0px;
    margin-bottom: 0%;
    margin-top: 0px; */
    
    
}

.site-logo{
    text-align: center;
    /* padding-bottom: 0%;
    padding-top: 0px;
    margin-bottom: 0%;
    margin-top: 0px; */
}

.site-subtitle{
    color: var( --site-title-text-color );
    text-align: center;
    font-size: var( --font-size-sub-title );
    font-family: var( --font-sub-heading );
}

.site-sub-subtitle{
    color: var( --site-title-text-color );
    text-align: center;
    font-size: var( --font-size-sub-sub-title );
    font-family: var( --font-sub-subheading );
    border-bottom: 2px solid var( --strong-text-color );
}

/* ---------- Navigation */

.navigation{
    background-color: var( --alternative-bg-color );
    top: 0;
    z-index: 10;
    font-size: var( --font-size-heading-small );
    width: 100%;
    min-width: 100%;
    display: grid;
}

.sticky {
    background-color: var( --bar-color );
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-prompt{
    background-color: var( --bar-color );
    color: var( --alternative-text-color );
    padding-top: var( --padder );
    padding-bottom: var( --padder );
    width: 100%;
    display: block;
    clear: both;
    border: 0;    
}

.nav-inner{
    margin-bottom: 0;
    width: 100%;
}

.nav-inner ul{
    list-style: none;
    text-align: center;
    margin-inline-end: 2% ;
}

.nav-inner a{
    /* change to upper case */
    text-transform: uppercase;
    /* get rid of underline */
    text-decoration: none;
    /*  colours  */
    background-color: var( --alternative-bg-color );
    color: var( --alternative-text-color );
    border-bottom: 1px solid var( --border-color );
}

/* media query for if in desktop ( screen bigger than 800px) */
/* @media screen and ( min-width: 800px ){ */
@media screen and ( min-width: 800px ){

    /* remove nav-prompt (open navigation buttons) */
    .nav-prompt{
        display: none;
        
    }

    /* flexbox to put nav list items in a top line in centre */
    .nav-inner ul{
        display: flex;
        justify-content: space-between;
    }

    .nav-inner a{
        border-bottom: 0px solid transparent;
        padding: 0;
        margin-bottom: var(--spacer);
        font-weight: bold;
    }

    /* .nav-inner .active{
        border-bottom-color: var( --alternative-text-color);
        font-weight: bold;
    } */

}

@media screen and ( max-width: 800px ){

    .nav-inner{
        overflow: hidden;
    }

    .nav-inner[ aria-expanded="false" ]{
        max-height: 0;
    }

    .nav-inner[ aria-expanded="true"]{
        max-height: 100vh;
    }

    .change .nav-inner {
        transition: var( --transition-time );
    }

}

/* ---------- Footer */
footer{
    background-color:  var( --alternitive-text-color );
    text-align: center;
}

.footer-infos{
    text-align: center;
    display:grid;
}

.footer-subscribe{
    background-color: var( --alternative-text-color );
    padding-top: var( --spacer-large );
    padding-bottom: var( --spacer-large );
}

.footer-notices {
    background-color: var( --alternative-bg-color );
    padding-top: var( --spacer );
    padding-bottom: var( --spacer );
}

.footer-notices .layout-wide{
    margin-bottom: 0;
    color: var( --alternative-text-color );
}
.design-notices {
    font-family: var( --font-subheading );
    color:  var( --strong-text-color );
    font-size: var( --font-size-design-notice );

}

.design-notices .layout-wide{
    font-family: var( --font-subheading );
    color:  var( --strong-text-color );
    font-size: var( --font-size-design-notice );

}
/* ---------- Modules */

/* Hero module */
.spacer{
    position: relative;
    margin:0;   /*reset margin of figure tag*/
        min-height: 100%;
            /* background-color: var( --alternative-bg-color ); */
                border-bottom: 1px solid var( --border-color );
}

.spacer img{
     /* stretches out image to full screen width, for wide screens or low res images */
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    position: fixed;
    top:0;
    z-index: -9;
}

@media screen and ( min-width: 800px ){

    .hero-content{
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center
        
    }

    .heading-main{
        color: var( --alternative-text-color );
        /* add text shadow */
        text-shadow: 0px 1px 10px var( --strong-text-color); 
        background-color: var( --alternative-bg-color );
    }

}

 /* Grids */
@media screen and ( min-width: 800px ){

    .content-area-grid{
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }

    .content-area-grid-three{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-between;
    }
    .content-area-grid-four{
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        justify-content: space-between;
    }

}

/* reviews gallery */
/* .reviews-gallery{
    float: center;
} */

/* .reviews-gallery ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center; 
} */

/* .reviews-gallery li{
    max-width: 300px;
    min-height: 300px;
    margin: 10px;
    display: inline-block;
    box-sizing: content-box;
    overflow: auto;
    background: var( --alternative-bg-color );
    box-shadow: 0px 1px 10px var( --main-text-color );
    transition: var( --transition-time );
    filter: grayscale( 33% );
    vertical-align: text-top;
} */

/* .reviews-gallery a:hover li{
    filter: unset;
} */

/* image gallery */
.image-gallery{
    float: center;
}

.image-gallery ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center; 
}

.image-gallery li{
    max-width: 250px;
    margin: 10px;
    display: inline-block;
}

.image-gallery img{
  /*  filter: grayscale( 10% ); */
    transition: var( --transition-time );
    box-shadow: 0px 1px 10px var( --main-text-color );
}

.image-gallery a:hover img{
  /*  filter: unset; */
    transform: scale(1.1);
}

/* for smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Start Contact CSS */
.contact-content p {
    background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px 15px;
}

.contact-form{
    text-align: center;
    max-width: 100%;
}

.contact-form-left {                  
    padding-left: 0;
}

.contact-form-right {                 
    padding-right: 0;
}

input {
    margin-bottom: 15px;    
}

.form-control {
    border: none;
    background: rgba(242, 242, 242, 0.4);
    width: 75%;
}

.form-group button {
    background: #262628 none repeat scroll 0 0;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    border-radius:10px;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
/* End Contact CSS */

/* animated hamburger menu */
.container {
    align-content: right;
    display: inline-block;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.5s;
}
  
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
  
  /* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}
  
  /* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}